<h2>Meadowlark Travel Newsletter</h2>

<div id="newsletterSignupFormContainer">
    <form class="form-horizontal" role="form" id="newsletterSignupForm">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <div class="form-group">
            <label for="fieldName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fieldName" name="name">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" required id="fieldEmail" name="email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
</div>

{{#section 'script'}}
<script>
    document.getElementById('newsletterSignupForm').addEventListener('submit', e => {
        e.preventDefault()
        const form = e.target
        const container = document.getElementById('newsletterSignupFormContainer')

        const body = JSON.stringify({
            _csrf: form.elements._csrf.value,
            name: form.elements.name.value,
            email: form.elements.email.value
        })
        const headers = {'Content-type': 'application/json'}
        fetch('/api/newsletter', {method: 'POST', body, headers})
        .then(resp => {
            if (resp.status < 200 || resp.status > 300) {
                throw new Error('error')
            }
            return resp.json()
        })
        .then(data => {
            console.log(data)
            container.innerHTML = `OK ${data.result}`
        })
        .catch(err => {
            container.innerHTML = 'Something went wrong. Try again'
        })
    })
</script>
{{/section}}